[Unit]
Description=Altnet Apply Modules
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -lc '/opt/altnet/bin/altnet-apply.sh'
TimeoutStartSec=300
